.isc-setting-group {
    width: 96%;
}

#isc-admin-wrap h3 {
    padding: 0.8em 1em;
    cursor: default;
}

#isc-admin-wrap .form-table {
    margin: 0 1em;
}

#licences textarea { width: 40em; height: 7em; }