composer.json export-ignore
composer.lock export-ignore
bin/ export-ignore
tests/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
.phpcs.xml export-ignore
package*json export-ignore
.changelog/ export-ignore
build-image-source-control.php export-ignore
scripts/ export-ignore
AGENTS.md export-ignore